---
import type { HTMLAttributes } from "astro/types";

import ControlButton from "./control-primitives/button.astro";
import ControlIcon from "./control-primitives/icon.astro";
import ControlBar from "./control-primitives/bar.astro";

type Props = HTMLAttributes<"div">;

const { props } = Astro;
---

<play-control {...props}>
  <ControlButton class="play-pause" disabled>
    <ControlIcon class="play-icon" iconId="ph--play-fill" />
    <ControlIcon class="pause-icon" iconId="ph--pause-fill" hidden />
  </ControlButton>
  <ControlBar class="seek-bar" min="0" max="100" value="0" step="any" disabled />
  <span class="current-time">0:00</span>
</play-control>

<script>
  import type { Music } from "../../models/music";
  import { formatSec } from "../../utils/format";
  import { queryMusicPlayer } from "../../utils/query";
  import type { MusicPlayerElement } from "../music-player.astro.0.mts";
  import type { ControlBarElement } from "./control-primitives/bar.astro.0.mts";
  import type { ControlButtonElement } from "./control-primitives/button.astro.0.mts";
  import type { ControlIconElement } from "./control-primitives/icon.astro.0.mts";

  export class PlayControlElement extends HTMLElement {
    #musicPlayer!: MusicPlayerElement;

    #playPause!: ControlButtonElement;
    #playIcon!: ControlIconElement;
    #pauseIcon!: ControlIconElement;
    #seekBar!: ControlBarElement;
    #currentTime!: HTMLSpanElement;

    #duraionValue: Music["metadata"]["format"]["duration"];
    #isUserSeeking = false;
    #enabled = false;

    connectedCallback() {
      this.#musicPlayer = queryMusicPlayer();

      this.#playPause = this.querySelector(".play-pause")!;
      this.#playIcon = this.#playPause.querySelector(".play-icon")!;
      this.#pauseIcon = this.#playPause.querySelector(".pause-icon")!;
      this.#seekBar = this.querySelector(".seek-bar")!;
      this.#currentTime = this.querySelector(".current-time")!;

      this.#playPause.addEventListener("click", async () => {
        await this.#musicPlayer.send({ type: "TOGGLE_PLAYING" });
      });

      this.#seekBar.addEventListener("change", async (e) => {
        const input = e.target as HTMLInputElement;
        const second = Number(input.value);
        await this.#musicPlayer.send({ type: "SEEK", sec: second });
      });

      this.#seekBar.addEventListener("mousedown", () => {
        this.#isUserSeeking = true;
      });

      this.#seekBar.addEventListener("mouseup", () => {
        this.#isUserSeeking = false;
      });

      this.#seekBar.addEventListener(
        "touchstart", //
        () => (this.#isUserSeeking = true),
        { passive: true }
      );

      this.#seekBar.addEventListener("touchend", () => {
        this.#isUserSeeking = false;
      });

      document.addEventListener("keydown", this.#handlePlayKeyDown);
      document.addEventListener("keydown", this.#handleSeekKeyDown);
    }

    disconnectedCallback() {
      document.removeEventListener("keydown", this.#handlePlayKeyDown);
      document.removeEventListener("keydown", this.#handleSeekKeyDown);
    }

    #handlePlayKeyDown = (e: KeyboardEvent) => {
      // shouldn't we override the spacebar behavior??
      if (e.key === "p" || e.key === " ") {
        e.preventDefault();
        if (this.#enabled) {
          this.#playPause.click();
        }
      }
    };

    #handleSeekKeyDown = async (e: KeyboardEvent) => {
      const oldValue = Number(this.#seekBar.value);
      const max = Number(this.#seekBar.max);

      let newValue;
      if (e.key === "ArrowLeft") {
        e.preventDefault();
        if (this.#enabled) {
          newValue = Math.max(0, oldValue - 5);
        }
      }
      if (e.key === "ArrowRight") {
        e.preventDefault();
        if (this.#enabled) {
          newValue = Math.min(max, oldValue + 5);
        }
      }

      if (newValue != null) {
        await this.#musicPlayer.send({ type: "SEEK", sec: newValue });
      }
    };

    load(music: Music) {
      this.setCurrentTime(0);

      const { duration } = music.metadata.format;
      if (duration != null) {
        this.#seekBar.max = duration.toString();
        this.#duraionValue = duration;
      }
    }

    disable() {
      this.#playPause.disable();
      this.#seekBar.disable();
      this.#enabled = false;
    }

    enable() {
      this.#playPause.enable();
      this.#seekBar.enable();
      this.#enabled = true;
    }

    toPlaying() {
      this.#playIcon.hide();
      this.#pauseIcon.show();
    }

    toPaused() {
      this.#playIcon.show();
      this.#pauseIcon.hide();
    }

    setCurrentTime(second: number) {
      this.#currentTime.textContent = formatSec(second);
      if (this.#duraionValue && !this.#isUserSeeking) {
        this.#seekBar.value = second.toFixed(3);
      }
    }
  }

  if (!customElements.get("play-control")) {
    customElements.define("play-control", PlayControlElement);
  }
</script>

<style>
  play-control {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }
</style>
