---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { props } = Astro;
---

<title-display {...props}>
  <span class="title">No music selected</span>
</title-display>

<script>
  import type { Music } from "../../models/music";

  export class TitleDisplayElement extends HTMLElement {
    #title!: HTMLSpanElement;

    connectedCallback() {
      this.#title = this.querySelector(".title")!;
    }

    load({ file, metadata }: Music) {
      const { common } = metadata;
      const { title } = common;

      this.#title.textContent = title?.trim() || file.name;
    }
  }

  if (!customElements.get("title-display")) {
    customElements.define("title-display", TitleDisplayElement);
  }
</script>

<style>
  title-display {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;

    span {
      overflow-inline: hidden;
      text-overflow: ellipsis;
      user-select: all;
    }
  }
</style>
