---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { props } = Astro;
---

<title-display {...props}>
  <span class="title">No music selected</span>
</title-display>

<script>
  import { TitleDisplayElement } from "./title-display";

  if (!customElements.get("title-display")) {
    customElements.define("title-display", TitleDisplayElement);
  }
</script>

<style>
  title-display {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;

    span {
      overflow-inline: hidden;
      text-overflow: ellipsis;
      user-select: all;
    }
  }
</style>
