---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"div">, "class">;

const { props } = Astro;
---

<div class="title-display" {...props}>No music selected</div>

<style>
  .title-display {
    white-space: nowrap;
    text-align: center;
    overflow-inline: hidden;
    text-overflow: ellipsis;
    user-select: all;
  }
</style>
