---
import type { HTMLAttributes } from "astro/types";

import ControlButton from "./control-primitives/button.astro";
import ControlIcon from "./control-primitives/icon.astro";
import ControlBar from "./control-primitives/bar.astro";

type Props = HTMLAttributes<"div">;

const { props } = Astro;
---

<volume-control {...props}>
  <ControlButton class="mute-button" disabled>
    <ControlIcon class="volume-icon" iconId="clarity--volume-up-solid" />
    <ControlIcon class="muted-icon" iconId="clarity--volume-mute-solid" hidden />
  </ControlButton>
  <ControlBar class="volume-bar" min="0" max="100" step="5" value="100" disabled />
  <span class="volume-text">100</span>
</volume-control>

<script>
  import type { Music } from "../../models/music";
  import { queryMusicPlayer } from "../../utils/query";
  import type { MusicPlayerElement } from "../music-player.astro.0.mts";
  import type { ControlBarElement } from "./control-primitives/bar.astro.0.mts";
  import type { ControlButtonElement } from "./control-primitives/button.astro.0.mts";
  import type { ControlIconElement } from "./control-primitives/icon.astro.0.mts";

  export class VolumeControlElement extends HTMLElement {
    #musicPlayer!: MusicPlayerElement;

    #muteButton!: ControlButtonElement;
    #volumeIcon!: ControlIconElement;
    #mutedIcon!: ControlIconElement;
    #volumeBar!: ControlBarElement;
    #volumeText!: HTMLSpanElement;

    #enabled = false;

    connectedCallback() {
      this.#musicPlayer = queryMusicPlayer();

      this.#muteButton = this.querySelector(".mute-button")!;
      this.#volumeIcon = this.#muteButton.querySelector(".volume-icon")!;
      this.#mutedIcon = this.#muteButton.querySelector(".muted-icon")!;
      this.#volumeBar = this.querySelector(".volume-bar")!;
      this.#volumeText = this.querySelector(".volume-text")!;

      this.#muteButton.addEventListener("click", () => {
        this.#musicPlayer.toggleMute();
        this.#volumeIcon.toggle();
        this.#mutedIcon.toggle();
      });

      this.#volumeBar.addEventListener("input", (e) => {
        const input = e.target as HTMLInputElement;
        const value = Number(input.value);
        this.#musicPlayer.volume = value / 100;
        this.#volumeText.textContent = value.toString();
      });

      document.addEventListener("keydown", this.#handleMuteKeyDown);
      document.addEventListener("keydown", this.#handleVolumeKeyDown);
    }

    disconnectedCallback() {
      document.removeEventListener("keydown", this.#handleMuteKeyDown);
      document.removeEventListener("keydown", this.#handleVolumeKeyDown);
    }

    #handleMuteKeyDown = (e: KeyboardEvent) => {
      if (e.key === "m") {
        this.#muteButton.click();
      }
    };

    #handleVolumeKeyDown = (e: KeyboardEvent) => {
      if (!e.metaKey) return;

      const oldValue = Number(this.#volumeBar.value);

      let newValue;
      if (e.key === "ArrowDown") {
        e.preventDefault();
        if (this.#enabled) {
          newValue = Math.max(0, oldValue - 5);
        }
      }
      if (e.key === "ArrowUp") {
        e.preventDefault();
        if (this.#enabled) {
          newValue = Math.min(100, oldValue + 5);
        }
      }

      if (newValue != null) {
        this.#musicPlayer.volume = newValue / 100;
        this.#volumeBar.value = newValue.toString();
        this.#volumeText.textContent = newValue.toString();
      }
    };

    load({ settings }: Music) {
      this.disable();

      const { volume } = settings;
      this.#volumeBar.value = (volume * 100).toString();
      this.#volumeText.textContent = (volume * 100).toString();
    }

    disable() {
      this.#enabled = false;
      this.#muteButton.disable();
      this.#volumeBar.disable();
    }

    enable() {
      this.#muteButton.enable();
      this.#volumeBar.enable();
      this.#enabled = true;
    }
  }

  if (!customElements.get("volume-control")) {
    customElements.define("volume-control", VolumeControlElement);
  }
</script>

<style>
  volume-control {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }
</style>
