---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"button">, "type">;

const { props } = Astro;
---

<button type="button" {...props}></button>

<style>
  button {
    inline-size: 100%;
    block-size: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
  }
</style>
