---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"div">, "is">;

const { props } = Astro;
---

<div is="playing-bars" {...props}>
  <span class="playing-bar stopped playing-bar-1"></span>
  <span class="playing-bar stopped playing-bar-2"></span>
  <span class="playing-bar stopped playing-bar-3"></span>
</div>

<script>
  export class PlaiyingBarsElement extends HTMLDivElement {
    #playingBars!: NodeListOf<HTMLSpanElement>;

    connectedCallback() {
      this.#playingBars = this.querySelectorAll("span");
    }

    stop() {
      for (const bar of this.#playingBars) {
        bar.classList.remove("playing-bar", "paused");

        // initialize animation state
        requestAnimationFrame(() => {
          requestAnimationFrame(() => {
            bar.classList.add("playing-bar", "stopped");
          });
        });

        this.#show();
      }
    }

    play() {
      for (const bar of this.#playingBars) {
        bar.classList.remove("stopped", "paused");
        this.#show();
      }
    }

    pause() {
      for (const bar of this.#playingBars) {
        bar.classList.toggle("paused");
        this.#show();
      }
    }

    hide() {
      for (const bar of this.#playingBars) {
        bar.classList.add("hidden");
      }
    }

    #show() {
      for (const bar of this.#playingBars) {
        bar.classList.remove("hidden");
      }
    }
  }

  customElements.define("playing-bars", PlaiyingBarsElement, { extends: "div" });
</script>

<style>
  div {
    display: flex;
    align-items: flex-end;
    gap: 0.1rem;
    block-size: 1rem;
    padding-block-end: 0.1rem;
    position: absolute;
    inset-block-start: 0.375rem;
    inset-inline-start: 0.25rem;

    .playing-bar {
      display: inline-block;
      background-color: currentColor;
      inline-size: 0.25rem;
      block-size: 100%;
      animation: up-and-down 1.3s ease infinite alternate;

      &.stopped {
        filter: brightness(0.6);
        animation-play-state: paused;
      }

      &.paused {
        animation-play-state: paused;
      }

      &.hidden {
        display: none;
      }
    }

    .playing-bar-1 {
      block-size: 60%;
    }

    .playing-bar-2 {
      block-size: 30%;
      animation-delay: -2.4s;
    }

    .playing-bar-3 {
      block-size: 75%;
      animation-delay: -3.7s;
    }
  }

  @keyframes up-and-down {
    10% {
      block-size: 30%;
    }
    30% {
      block-size: 100%;
    }
    60% {
      block-size: 50%;
    }
    80% {
      block-size: 75%;
    }
    100% {
      block-size: 20%;
    }
  }
</style>
