---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { props } = Astro;
---

<div {...props}>
  <slot />
</div>

<style>
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
</style>
