---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> & {
  iconId: string;
};

const { iconId, ...props } = Astro.props;
---

<span {...props}>
  <svg>
    <use href=`/icons.svg#${iconId}`></use>
  </svg>
</span>

<style>
  svg {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    fill: currentColor;
  }
</style>
