---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"span">, "is"> & {
  iconId: string;
};

const { iconId, ...props } = Astro.props;
---

<span is="control-icon" {...props}>
  <svg>
    <use href=`/icons.svg#${iconId}`></use>
  </svg>
</span>

<script>
  export class ControlIconElement extends HTMLSpanElement {
    hide() {
      this.setAttribute("hidden", "");
    }

    show() {
      this.removeAttribute("hidden");
    }

    toggle() {
      this.toggleAttribute("hidden");
    }
  }

  customElements.define("control-icon", ControlIconElement, { extends: "span" });
</script>

<style>
  svg {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    fill: currentColor;
  }
</style>
