---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"div">, "hidden">;

const { props } = Astro;
---

<loading-circle {...props} hidden>
  <div class="loader"></div>
</loading-circle>

<script>
  import { LoadingCircleElement } from "./loading-circle";

  if (!customElements.get("loading-circle")) {
    customElements.define("loading-circle", LoadingCircleElement);
  }
</script>

<style>
  loading-circle {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    pointer-events: none;

    &[hidden] {
      display: none;
    }

    .loader {
      inline-size: 0.875rem;
      block-size: 0.875rem;
      border: 0.175rem solid currentColor;
      border-block-start-color: #555;
      border-radius: 100vmax;
      animation: spin 0.8s linear infinite;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
