---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { props } = Astro;
---

<loading-circle {...props}>
  <div class="loader hidden"></div>
</loading-circle>

<script>
  export class LoadingCircleElement extends HTMLElement {
    #loader!: HTMLDivElement;

    connectedCallback() {
      this.#loader = this.querySelector("div")!;
    }

    show() {
      this.#loader.classList.remove("hidden");
    }

    hide() {
      this.#loader.classList.add("hidden");
    }
  }

  if (!customElements.get("loading-circle")) {
    customElements.define("loading-circle", LoadingCircleElement);
  }
</script>

<style>
  loading-circle,
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    block-size: 100%;
    aspect-ratio: 1;

    .loader {
      block-size: 1rem;
      aspect-ratio: 1;
      border: 3px solid currentColor;
      border-block-start: 3px solid #555;
      border-radius: 100vmax;
      animation: spin 1s linear infinite;

      &.hidden {
        display: none;
      }
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
