---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"div">, "hidden">;

const { props } = Astro;
---

<playing-bars {...props} hidden>
  <span class="playing-bar playing-bar-1"></span>
  <span class="playing-bar playing-bar-2"></span>
  <span class="playing-bar playing-bar-3"></span>
</playing-bars>

<script>
  import { PlaiyingBarsElement } from "./playing-bars";

  if (!customElements.get("playing-bars")) {
    customElements.define("playing-bars", PlaiyingBarsElement);
  }
</script>

<style>
  playing-bars {
    display: flex;
    align-items: flex-end;
    gap: 0.1rem;
    block-size: 1rem;
    padding-block-end: 0.1rem;
    position: absolute;
    inset-block-start: 0.25rem;
    inset-inline-start: 0.25rem;

    &[hidden] {
      display: none;
    }

    &.paused .playing-bar {
      animation-play-state: paused;
    }

    .playing-bar {
      display: inline-block;
      background-color: currentColor;
      inline-size: 0.25rem;
      block-size: 100%;
      animation: up-and-down 1.3s ease infinite alternate;
    }

    .playing-bar-1 {
      block-size: 60%;
    }

    .playing-bar-2 {
      block-size: 30%;
      animation-delay: -2.4s;
    }

    .playing-bar-3 {
      block-size: 75%;
      animation-delay: -3.7s;
    }
  }

  @keyframes up-and-down {
    10% {
      block-size: 30%;
    }
    30% {
      block-size: 100%;
    }
    60% {
      block-size: 50%;
    }
    80% {
      block-size: 75%;
    }
    100% {
      block-size: 20%;
    }
  }
</style>
