---
import Layout from "../layouts/Layout.astro";
import MusicPlayer from "../components/music-player.astro";
import MusicUploader from "../components/music-uploader.astro";
import MusicTabulizer from "../components/music-tabulizer.astro";
---

<Layout>
  <main>
    <div class="music-player">
      <div class="container">
        <MusicPlayer />
      </div>
    </div>
    <div class="music-manager">
      <div class="container">
        <MusicUploader />
        <MusicTabulizer />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-rows: auto 1fr;
    block-size: 100svh;
  }

  .music-player {
    max-inline-size: 100svw;
    background-color: #222222;
    color: #e2e2e2;
    overflow-block: auto;
    scrollbar-color: #222222 transparent;
    scrollbar-gutter: stable both-edges;
  }

  .music-manager {
    max-inline-size: 100svw;
    overflow-inline: hidden;
    overflow-block: auto;
    scrollbar-color: #121212 transparent;
    scrollbar-gutter: stable both-edges;
  }

  .container {
    margin-inline: auto;
    inline-size: clamp(20rem, 100%, 30rem);
    padding: 1.25rem;
  }
</style>
