<music-uploader>
  <input type="file" accept="audio/*" multiple hidden />
  <button type="button">
    <svg>
      <use href="/icons.svg#fa6-solid--plus"></use>
    </svg>
  </button>
</music-uploader>

<script>
  import { MusicUploaderElement } from "./music-uploader";

  if (!customElements.get("music-uploader")) {
    customElements.define("music-uploader", MusicUploaderElement);
  }
</script>

<style>
  music-uploader {
    display: flex;
    justify-content: center;

    button {
      display: inline-flex;
      padding: 0.35rem;
      block-size: 1.75rem;
      border-radius: 100vmax;
      border: none;
      color: inherit;
      cursor: pointer;
      background-color: #3a3a3a;
      max-inline-size: 43%;

      &:hover {
        filter: brightness(1.2);
      }

      svg {
        fill: currentColor;
        inline-size: 100%;
        block-size: 100%;
      }
    }
  }
  :global(.mobile) music-uploader {
    button {
      background-color: #282828;
    }
  }
</style>
