<div is="music-uploader">
  <input type="file" accept="audio/*" multiple hidden />
  <button type="button">
    <svg>
      <use href="/icons.svg#fa6-solid--plus"></use>
    </svg>
  </button>
</div>

<script>
  import { queryMusicTabulizer } from "../utils/query";

  class MusicUploaderElement extends HTMLDivElement {
    #musicTabulizer = queryMusicTabulizer();

    #musicInput = this.querySelector("input")!;
    #musicUpload = this.querySelector("button")!;

    constructor() {
      super();

      this.#musicInput.addEventListener("change", async (e) => {
        const input = e.target as HTMLInputElement;

        if (input.files) {
          await this.#musicTabulizer.add(input.files);

          // clear selection
          input.value = "";
        }
      });

      this.#musicUpload.addEventListener("click", () => {
        this.#musicInput.click();
      });
    }
  }

  customElements.define("music-uploader", MusicUploaderElement, { extends: "div" });
</script>

<style>
  button {
    display: inline-flex;
    margin-inline-start: -0.3rem;
    padding: 0.35rem;
    inline-size: 2rem;
    aspect-ratio: 1;
    border-radius: 100vmax;
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;

    &:hover {
      background-color: #3f3f3f;
    }

    svg {
      fill: currentColor;
      inline-size: 100%;
      block-size: 100%;
    }
  }
</style>
