---
import MediaSession from "./music-player/media-session.astro";
import TitleDisplay from "./music-player/title-display.astro";
import PlayControl from "./music-player/play-control.astro";
import VolumeControl from "./music-player/volume-control.astro";
import TempoControl from "./music-player/tempo-control.astro";
---

<music-player>
  <TitleDisplay class="title-display" />
  <PlayControl class="play-control" />
  <div class="volume-and-tempo">
    <VolumeControl class="volume-control" />
    <TempoControl class="tempo-control" />
  </div>
  <MediaSession class="media-session" />
</music-player>

<script>
  import { MusicPlayerElement } from "./music-player";

  if (!customElements.get("music-player")) {
    customElements.define("music-player", MusicPlayerElement);
  }
</script>

<style>
  music-player {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  .volume-and-tempo {
    display: flex;
    justify-content: space-between;
    gap: 1.125rem;
  }
</style>
