---
import TitleDisplay from "./music-player/title-display.astro";
import PlayControl from "./music-player/play-control.astro";
import VolumeControl from "./music-player/volume-control.astro";
import TempoControl from "./music-player/tempo-control.astro";
---

<music-player>
  <audio src="5-seconds-of-silence.mp3" loop></audio>
  <TitleDisplay class="title-display" />
  <PlayControl class="play-control" />
  <div class="volume-and-tempo">
    <VolumeControl class="volume-control" />
    <TempoControl class="tempo-control" />
  </div>
</music-player>

<script>
  import type { Music } from "../models/music";
  import { queryMusicTabulizer } from "../utils/query";
  import { MediaSessionController } from "./music-player/_helpers/media-session";
  import { MusicPlayer } from "./music-player/_helpers/music-player";
  import type { TitleDisplayElement } from "./music-player/title-display.astro.0.mts";
  import type { PlayControlElement } from "./music-player/play-control.astro.0.mts";
  import type { VolumeControlElement } from "./music-player/volume-control.astro.0.mts";
  import type { TempoControlElement } from "./music-player/tempo-control.astro.0.mts";
  import type { MusicTabulizerElement } from "./music-tabulizer.astro.0.mts";

  type State = "unloaded" | "loading" | "playing" | "paused";

  type EventType = GuaranteedEvent | FallibleEvent;

  type GuaranteedEvent =
    | { type: "SET_VOLUME"; volume: number }
    | { type: "SET_TEMPO"; tempo: number }
    | { type: "PLAY" }
    | { type: "PAUSE" }
    | { type: "TOGGLE_PLAYING" }
    | { type: "SEEK"; sec: number }
    | { type: "TOGGLE_MUTE" };

  type FallibleEvent = { type: "LOAD"; music: Music };

  export class MusicPlayerElement extends HTMLElement {
    #musicTabulizer!: MusicTabulizerElement;

    #audioForMediaSession!: HTMLAudioElement;
    #titleDisplay!: TitleDisplayElement;
    #playControl!: PlayControlElement;
    #volumeControl!: VolumeControlElement;
    #tempoControl!: TempoControlElement;

    #musicPlayer = new MusicPlayer();
    #loadedMusic: Music | undefined;
    #updateDisplayRequestId = 0;
    #state: State = "unloaded";

    #media!: MediaSessionController;

    connectedCallback() {
      this.#musicTabulizer = queryMusicTabulizer();

      this.#audioForMediaSession = this.querySelector("audio")!;
      this.#titleDisplay = this.querySelector(".title-display")!;
      this.#playControl = this.querySelector(".play-control")!;
      this.#volumeControl = this.querySelector(".volume-control")!;
      this.#tempoControl = this.querySelector(".tempo-control")!;

      this.#media = new MediaSessionController(this.#audioForMediaSession);
      this.#media.setActionHandler("play", () => {
        this.send({ type: "PLAY" });
      });
      this.#media.setActionHandler("pause", () => {
        this.send({ type: "PAUSE" });
      });
    }

    async send(event: GuaranteedEvent): Promise<void>;
    async send(event: FallibleEvent): Promise<boolean>;

    async send(event: EventType) {
      switch (this.#state) {
        case "unloaded":
          return await this.#unloaded(event);
        case "loading":
          return await this.#loading(event);
        case "playing":
          return await this.#playing(event);
        case "paused":
          return await this.#paused(event);
        default:
          throw new Error(`event not receivable on this state: ${this.#state}`);
      }
    }

    // dispatchers per state

    async #unloaded(event: EventType) {
      switch (event.type) {
        case "LOAD":
          return await this.#load(event.music);
        default:
          throw new Error(`unsupported event type: ${event.type}`);
      }
    }

    async #loading(event: EventType) {
      switch (event.type) {
        default:
          throw new Error(`unsupported event type: ${event.type}`);
      }
    }

    async #playing(event: EventType) {
      switch (event.type) {
        case "LOAD":
          return await this.#load(event.music);
        case "SET_VOLUME":
          return this.#setVolume(event.volume);
        case "SET_TEMPO":
          return this.#setTempo(event.tempo);
        case "PAUSE":
          return await this.#pause();
        case "TOGGLE_PLAYING":
          return await this.#togglePlaying();
        case "SEEK":
          return await this.#seek(event.sec);
        case "TOGGLE_MUTE":
          return this.#toggleMute();
        default:
          throw new Error(`unsupported event type: ${event.type}`);
      }
    }

    async #paused(event: EventType) {
      switch (event.type) {
        case "SET_VOLUME":
          return this.#setVolume(event.volume);
        case "SET_TEMPO":
          return this.#setTempo(event.tempo);
        case "LOAD":
          return await this.#load(event.music);
        case "PLAY":
          return await this.#play();
        case "TOGGLE_PLAYING":
          return await this.#togglePlaying();
        case "SEEK":
          return await this.#seek(event.sec);
        case "TOGGLE_MUTE":
          return this.#toggleMute();
        default:
          throw new Error(`unsupported event type: ${event.type}`);
      }
    }

    // dispatchees

    async #load(music: Music) {
      const prevState = this.#state;
      this.#state = "loading";

      this.#playControl.disable();
      this.#volumeControl.disable();
      this.#tempoControl.disable();

      this.#playControl.toPaused();

      this.#stopUpdateCurrentTime();

      this.#titleDisplay.load(music);
      this.#playControl.load(music);
      this.#volumeControl.load(music);
      this.#tempoControl.load(music);
      this.#loadedMusic = music;
      this.#media.loadMetadata(music);

      try {
        await this.#musicPlayer.load(music);
      } catch (e) {
        console.error(e);
        this.#state = prevState;
        return false;
      }

      this.#playControl.enable();
      this.#volumeControl.enable();
      this.#tempoControl.enable();

      this.#state = "paused";
      return true;
    }

    #setVolume(volume: number) {
      this.#musicPlayer.volume = volume;
      this.#volumeControl.volume = volume;
      this.#loadedMusic?.updateSettings({ volume });
    }

    #setTempo(tempo: number) {
      this.#musicPlayer.tempo = tempo;
      this.#tempoControl.tempo = tempo;
      this.#loadedMusic?.updateSettings({ tempo });
    }

    async #play() {
      await this.#musicPlayer.play();
      this.#musicTabulizer.toPlaying(this.#loadedMusic!);
      this.#playControl.toPlaying();
      this.#media.toPlaying();
      this.#startUpdateCurrentTime();
      this.#state = "playing";
    }

    async #pause() {
      await this.#musicPlayer.pause();
      this.#musicTabulizer.toPaused(this.#loadedMusic!);
      this.#playControl.toPaused();
      this.#media.toPaused();
      this.#stopUpdateCurrentTime();
      this.#state = "paused";
    }

    async #togglePlaying() {
      switch (this.#state) {
        case "paused":
          return await this.send({ type: "PLAY" });
        case "playing":
          return await this.send({ type: "PAUSE" });
        default:
          throw new Error(`unsupported state: ${this.#state}`);
      }
    }

    async #seek(toSec: number) {
      await this.#musicPlayer.seek(toSec);
      this.#playControl.setCurrentTime(toSec);
    }

    #toggleMute() {
      this.#musicPlayer.toggleMute();
      this.#volumeControl.toggleIcon();
    }

    // helpers

    #startUpdateCurrentTime() {
      this.#updateDisplayRequestId = requestAnimationFrame(this.#updateCurrentTime);
    }

    #stopUpdateCurrentTime() {
      cancelAnimationFrame(this.#updateDisplayRequestId);
    }

    #updateCurrentTime = () => {
      this.#playControl.setCurrentTime(this.#musicPlayer.currentTime ?? 0);
      this.#updateDisplayRequestId = requestAnimationFrame(this.#updateCurrentTime);
    };
  }

  if (!customElements.get("music-player")) {
    customElements.define("music-player", MusicPlayerElement);
  }
</script>

<style>
  music-player {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  .volume-and-tempo {
    display: flex;
    justify-content: space-between;
    gap: 1.125rem;
  }
</style>
