<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Music player for game music files such as ogg." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <title>Game Music Player</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import * as MusicStorage from "../storage/music";

  document.addEventListener(
    "DOMContentLoaded", //
    MusicStorage.migrateIfNeeded,
    { once: true },
  );

  const isMobile = /iPhone|Android|Mobile|iPad|iPod/i.test(navigator.userAgent);

  if (isMobile) {
    document.body.classList.add("mobile");
  }
</script>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    font: inherit;
    color: currentColor;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }
</style>

<style>
  html {
    font-family: monospace, system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.375;
  }

  body {
    font-size: clamp(0.875rem, 0.83rem + 0.23svw, 1rem);
    background-color: #222;
    color: #f0f0f0;
    user-select: none;

    &.mobile {
      background-color: #111;
    }
  }
</style>
